.carousel-inner img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-indicators [data-bs-target] {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  opacity: 0.5;
}

.carousel-indicators .active {
  margin-top: 5px;
  width: 15px;
  height: 15px;
  border: 2px solid #d3c1ad;
  background-color: transparent;
  opacity: 1;
}

.carousel-control-next-icon {
  background-image: url(img/right.png);
  height: 73px;
  width: 40px;
}

.carousel-control-prev-icon {
  background-image: url(img/left.png);
  height: 73px;
  width: 40px;
}

.d-block {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header__container {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 120px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__text {
  color: white;
  font-size: 34px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.heading {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: #555555;
}

.description {
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 0;
  padding-left: 0;
}

.main-nav__item {
  list-style: none;
}

.main-nav__item a:hover {
  color: #c7b299;
}

.main-nav__item a {
  text-decoration: none;
  color: white;
}

.user-nav {
  width: 60px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-nav__img:hover path {
  fill: #c7b299;
}

.realizations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

.realizations__img {
  margin-bottom: 29px;
  height: 49px;
}

.realizations__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: calc(1200px/ 4);
      flex-basis: calc(1200px/ 4);
}

.realizations__item:hover .realizations__heading,
.realizations__item:hover .realizations__img path,
.realizations__item:hover .realizations__line path {
  color: #c7b299;
  fill: #c7b299;
}

.realizations__heading {
  font-size: 22px;
  margin-bottom: 19px;
}

.realizations__description {
  font-size: 14px;
  line-height: 24px;
}
/*# sourceMappingURL=style.css.map */